.carousel-inner > .carousel-item > img {
   max-height: 100vh;
 }

.carousel-control-prev {
    height:0;
    top:50%;
 }

 .carousel-control-next {
    height:0;
    top:50%;
 }

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
   height: 50px;
   width: 50px;
 } 

 .carousel-caption{
   top: 35%;
   font-size: 55px;
   font-weight: bold;
   height: auto;
   max-height: 120px;
 }

 @media screen and (max-width: 767px) {

  .carousel-caption{
    top: 30%;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    max-height: 200px;
  }
 }

 .cadre{
  background: rgba(0,0,100,0.7);
  height: 100vh;
  width: 100vh;
 }

 .video-background{
   background: rgba($color: #2B3990, $alpha: 1.0);
   position: absolute;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
 }

 .welcome-msg{
   position: relative;
   text-align: left;
   margin-left: 10%;
   color: #ffffff;
   top: 50%

 }

.cadre .button{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
}
.cadre .button > a:hover {
  color:white;
  background: #2B3990;
  /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
  transition-delay: 0.25s;
}
.cadre .button > a span{
  position:absolute;
  display: block;
}
.cadre .button > a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2B3990);
  animation: animate1 1s linear infinite;
}
@keyframes animate1
{
  0%{
      left: -100%;
  }
  50%, 100%{
      left: 100%;
  }
}

.cadre .button > a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2B3990);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2
{
  0%{
      top: -100%;
  }
  50%, 100%{
      top: 100%;
  }
}


.cadre .button > a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2B3990);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3
{
  0%{
      right: -100%;
  }
  50%, 100%{
      right: 100%;
  }
}


.cadre .button > a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2B3990);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4
{
  0%{
      bottom: -100%;
  }
  50%, 100%{
      bottom: 100%;
  }
}

 @media (min-aspect-ratio:16/9){
   .video-background{
     width: 100%;
     height: auto;
   }
 }

 @media (max-aspect-ratio:16/9){
  .video-background{
    width: auto;
    height: 100%;
  }
}
