.carousel-inner > .carousel-item > img {
   max-height: 100vh;
 }

.carousel-control-prev {
    height:0;
    top:50%;
 }

 .carousel-control-next {
    height:0;
    top:50%;
 }

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
   height: 50px;
   width: 50px;
 } 

 .carousel-caption{
   top: 35%;
   font-size: 55px;
   font-weight: bold;
   height: auto;
   max-height: 120px;
 }

 @media screen and (max-width: 767px) {

  .carousel-caption{
    top: 30%;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    max-height: 200px;
  }
 }
