/* wrapper 0*/
.wrapper0{
    background:#2B3990;
    height: 70px;

}


/* wrapper 1*/
.wrapper1{
    display:grid;
    grid-template-columns: 50% 50%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    
    grid-gap:1em;
    */
}

/* wrapper 1*/
.wrapper1 .para1{
    color: rgb(0, 0, 0); 
}

.wrapper1 .para2{
    color: white; 
}

.wrapper1 > div{
    background:#2B3990;
    padding:2em;
}
.wrapper1 > div:nth-child(odd){
    background:#ddd;
}



/* wrapper 2*/
.wrapper2{
    background-image: url('/dist/img/image7_3.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    
    grid-gap:1em;
    */
}

.wrapper2 .para1{
    h1{
        text-align: center;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 5%;
    }
    hr{
        align: center;
    }
    p{
        text-align: center;
        padding-top: 10%;
        padding-bottom: 5%;
        color: rgb(0, 0, 0); 
        font-size: 25px;
    }
}

/*Neo Light Button*/
.wrapper2 .button > a {
    position: relative;
    display: inline;
    text-align: center;
    padding: 15px 30px;
    color: #2B3990;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
.wrapper2 .button{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}
.wrapper2 .button > a:hover {
    color:white;
    background: #2B3990;
    /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
    transition-delay: 0.25s;
}
.wrapper2 .button > a span{
    position:absolute;
    display: block;
}
.wrapper2 .button > a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B3990);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.wrapper2 .button > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B3990);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}


.wrapper2 .button > a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B3990);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}


.wrapper2 .button > a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B3990);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}
/*End Neo Light Button*/


.wrapper2 > div{
    padding:2em;
    padding-top: 10vh;
}

.line {
    border: 4px solid rgb(255, 251, 2);
    max-width: 20%;
    margin: auto;
    
}

@media screen and (max-width: 767px) {

    .wrapper2{
        grid-template-rows: 800px;
    }

    .wrapper2 .para1{
        h1{
            text-align: left;
            color: #2B3990; 
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 1%;
        }
        hr{
            align: center;
        }
        p{
            text-align: left;
            padding-top: 10%;
            padding-bottom: 5%;
            color: rgb(0, 0, 0);
            font-size: 20px;
        }
    }

    .wrapper2 .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
        font-weight: bold;
    }
}

/* wrapper 3*/
.wrapper3{
    background: #2B3990;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 640px;
}

.wrapper3 .para1{
    h1{
        margin-top: 150px;
        text-align: center;
        color: #ffffff; 
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 5%;
    }
    hr{
        align: center; 
    }
    .qsn{
        text-align: center;
        padding-top: 5%;
        color: #ffffff;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    p{
        padding-top: 5%;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
    }
}

.wrapper3 .para2 .team{
    position: relative;
    top: 30%;
    left: 30%;
}

@media screen and (max-width: 767px) {

    .wrapper3{
        background: #2B3990;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 450px;
    }
    .wrapper3 .para1{
        h1{
            margin-top: 70px;
            text-align: center;
            color: #ffffff; 
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            padding-bottom: 5%;
        }
        hr{
            align: center; 
        }
        .qsn{
            text-align: center;
            padding-top: 5%;
            color: #ffffff;
            font-size: 15px;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
        }
    }
    .wrapper3 .para2 .team{
        position: relative;
        top: 30%;
        left: 30%;
        width: 100px;
        height: 100px;
    }
}

/* wrapper 4*/
.wrapper4{
    background-image: url('/dist/img/White_Values_2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fill ) ;
    grid-template-rows: 150px;
}

.box1 {
    color: #2B3990;
    padding: 50px;
    font-size: 80px;
    text-align: center;
    font-weight: bold;

}
.box2 {
    color: #2B3990;
    padding: 30px;
    font-size: 1vw;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    .values{
        width: 200px;
        height: 200px;
    }
}

.a {
    grid-column: 1 / 9;
    grid-row: 1;
}

@media screen and (max-width: 767px) {

    .wrapper4{
        background-image: url('/dist/img/White_Values_2.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: repeat(7, 1fr );
        grid-template-rows: 200px;
    }
    .box1 {
        color: #2B3990;
        padding: 70px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    
    }
    .box2 {
        color: #2B3990;
        padding: 40px;
        font-size: 1vw;
        text-align: center;
        font-weight: 1000;
        font-size: 25px;
        .values{
            width: 100px;
            height: 100px;
        }
    }

    .a {
        grid-row: 1;
    }
    .c {
        grid-column: 1;
        grid-row: 2;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }
    .e {
        grid-column: 1;
        grid-row: 3;
    }
    .f {
        grid-column: 2;
        grid-row: 3;
    }
    .g {
        grid-column: 1;
        grid-row: 4;
    }
    .h {
        grid-column: 2;
        grid-row: 4;
    }

}

/* wrapper 5*/
.wrapper5{
    background: #2B3990;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
}
    
.wrapper5 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #ffffff; 
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 5%;
    }
    hr{
        align: center; 
    }
    .mission{
        text-align: center;
        padding-top: 5%;
        color: #ffffff;
        font-size: 20px;
    }
    p{
        padding-top: 5%;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
    
.wrapper5 .para2 .target{
    position: relative;
    margin-left: 10%;
    top: 20%;
    left: 30%;
}

@media screen and (max-width: 767px) {

    .wrapper5{
        background: #2B3990;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px;
    }
    .wrapper5 .para1{
        h1{
            margin-top: 70px;
            text-align: center;
            color: #ffffff; 
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            padding-bottom: 5%;
        }
        hr{
            align: center; 
        }
        .mission{
            text-align: center;
            padding-top: 5%;
            color: #ffffff;
            font-size: 15px;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
        }
    }
    .wrapper5 .para2 .target{
        position: relative;
        top: 30%;
        left: 30%;
        width: 100px;
        height: 100px;
    }
}

/* wrapper 6*/
.wrapper6{
    background: #2B3990;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    }
        
.wrapper6 .para1{
        h1{
            margin-top: 70px;
            text-align: center;
            color: #ffffff; 
            font-weight: bold;
            font-size: 50px;
            text-transform: uppercase;
            padding-bottom: 5%;
        }
        hr{
            align: center; 
        }
        .diff{
            text-align: center;
            padding-top: 5%;
            color: #ffffff;
            font-size: 20px;
            margin-left: 10%;
            margin-right: 10%;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
        }
    }
        
.wrapper6 .para2 .fly{
    position: relative;
    top: 20%;
    left: 40%;
    width: 290px;
    height: 180px;
}

@media screen and (max-width: 767px) {

    .wrapper6{
        background: #2B3990;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px;
    }
    .wrapper6 .para1{
        h1{
            margin-top: 70px;
            text-align: center;
            color: #ffffff; 
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            padding-bottom: 5%;
        }
        hr{
            align: center; 
        }
        .diff{
            text-align: center;
            padding-top: 5%;
            color: #ffffff;
            font-size: 15px;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
        }
    }     
    .wrapper6 .para2 .fly{
        position: relative;
        top: 30%;
        left: 30%;
        width: 100px;
        height: 70px;
    }
}

/* wrapper 7*/
.wrapper7{
    display:grid;
    grid-template-columns: repeat(3, 1fr );
}


.wrapper7 .para1{
    color: rgb(0, 0, 0); 
    p{
        margin-top: 20px;
    }
}
.wrapper7 .para2{
    color: white;
    p{
        margin-top: 20px;
    } 
}
.wrapper7 .para3{
    color: rgb(0, 0, 0); 
    p{
        margin-top: 20px;
    }
}
.wrapper7 h1{
    font-weight: bold;
}

.wrapper7 > div{
    background:#2B3990;
    padding:2em;
}
.wrapper7 > div:nth-child(odd){
    background:#ddd;
}

.wrapper7 .line {
    border: 2px solid rgb(255, 251, 2);
    max-width: 20%;
    align: left;
    width: 50%;
}

@media screen and (max-width: 767px) {

    .wrapper7{
        display:grid;
        grid-template-columns: repeat(1, 1fr );
        h1{
            font-size: 25px;
        }
    }
}

/* wrapper 8*/

.wrapper8{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-rows: 300px;
}
.wrapper8 .para1{
    h1{
        margin-top: 50px;
        text-align: left;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
        margin-left: 20%
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid rgb(255, 251, 2);
        margin: 1em 0;
        padding: 0;
        margin-left: 20%;
        margin-right: 20%;
    }
    .qsn{
        text-align: left;
        color: #000000;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        margin-right: 20%;
    }
}

@media screen and (max-width: 767px) {

    .wrapper8 .para1{
        h1{
            margin-left: 10%
        }
        hr{
            margin-left: 10%;
        }
        .qsn{
            margin-left: 10%;
            margin-right: 10%;
        }

    }
}

/* wrapper 9*/
.wrapper9{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 650px;
}

.wrapper9 .para1{
    h2{
        margin-top: 20px;
        text-align: center;
        color: #000000; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        height: 50px;
    }
    p{
        padding-top: 2%;
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: 250px;

    }
    .serv{
        position: relative;
        width: 200px;
        height: 200px;
        left: 32%;
    }
            /*Neo Light Button*/
    .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        background-color: #ddd;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
}

.wrapper9 .para2{
    h2{
        margin-top: 20px;
        text-align: center;
        color: #000000; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        height: 50px;
    }
    p{
        padding-top: 2%;
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: 250px;
    }
    .serv{
        position: relative;
        top: 10%;
        width: 200px;
        height: 200px;
        left: 32%;
    }
    .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        background-color: #ddd;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
}

.wrapper9 .button{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}
.wrapper9 .button > a:hover {
    color:white;
    background: #2B3990;
    /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
    transition-delay: 0.25s;
}
.wrapper9 .button > a span{
    position:absolute;
    display: block;
}
.wrapper9 .button > a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B3990);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.wrapper9 .button > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B3990);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}


.wrapper9 .button > a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B3990);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}


.wrapper9 .button > a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B3990);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 767px) {
    .wrapper9{
        padding-top: 100px;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 700px;
        .empty{
            display: none;
        }
    }
    .wrapper9 .para1{
        img{
            margin-top: 20%;
        }
        h2{
            margin-left: 1%;
        }
        p{
            margin-left: 10%;
            margin-right: 10%;
            height: 250px;
    
        }
        .serv{
            left: 26%;
            width: 200px;
            height: 200px;
            
        }
        .button > a {
            margin-right: 20px;
            margin-left: 10px;
        }
    }
    .wrapper9 .para2{
        h2{
            margin-top: 0px;
            margin-right: 2%;
        }
        p{
            margin-left: 10%;
            margin-right: 10%;
            height: 250px;
        }
        .serv{
            left: 25%;
            margin-top: 10%;
            width: 200px;
            height: 200px;
        }
        .button > a {
            margin-right: 20px;
            margin-left: 10px;
            margin-bottom: 100px;
        }
    }
}

/* wrapper 9-2*/
.wrapper9-2{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 700px;
}

.wrapper9-2 .para1{
    h2{
        margin-top: 20px;
        text-align: center;
        color: #000000; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        height: 100px;
    }
    p{
        padding-top: 2%;
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: 250px;

    }
    .serv{
        position: relative;
        width: 200px;
        height: 200px;
        left: 32%;
    }
            /*Neo Light Button*/
    .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        background-color: #ddd;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
}

.wrapper9-2 .para2{
    h2{
        margin-top: 20px;
        text-align: center;
        color: #000000; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        height: 100px;
    }
    p{
        padding-top: 2%;
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: 250px;
    }
    .serv{
        position: relative;
        top: 10%;
        width: 200px;
        height: 200px;
        left: 32%;
    }
    .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        background-color: #ddd;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
}

.wrapper9-2 .button{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}
.wrapper9-2 .button > a:hover {
    color:white;
    background: #2B3990;
    /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
    transition-delay: 0.25s;
}
.wrapper9-2 .button > a span{
    position:absolute;
    display: block;
}
.wrapper9-2 .button > a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B3990);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.wrapper9-2 .button > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B3990);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}


.wrapper9-2 .button > a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B3990);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}


.wrapper9-2 .button > a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B3990);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 767px) {
    .wrapper9-2{
        padding-top: 0px;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 700px;
        .empty{
            display: none;
        }
    }
    .wrapper9-2 .para1{
        img{
            margin-top: 0%;
        }
        h2{
            margin-left: 1%;
        }
        p{
            margin-left: 10%;
            margin-right: 10%;
            height: 250px;
    
        }
        .serv{
            left: 26%;
            width: 200px;
            height: 200px;
            
        }
        .button > a {
            margin-right: 20px;
            margin-left: 10px;
        }
    }
    .wrapper9-2 .para2{
        h2{
            margin-top: 0px;
            margin-right: 2%;
        }
        p{
            margin-left: 10%;
            margin-right: 10%;
            height: 200px;
        }
        .serv{
            left: 25%;
            width: 200px;
            height: 200px;
        }
        .button > a {
            margin-right: 20px;
            margin-left: 10px;
            margin-bottom: 100px;
        }
    }
}

/* wrapper 10*/

.wrapper10{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 500px;
}
.wrapper10 .marge{
    background-color: #d9f0ea;
}
.wrapper10 .para1{
    background-color: #ddd;
    h1{
        margin-top: 50px;
        text-align: left;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
        margin-left: 20%
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid rgb(255, 251, 2);
        margin: 1em 0;
        padding: 0;
        margin-left: 20%;
        margin-right: 20%;
    }
    .qsn{
        text-align: left;
        color: #000000;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        margin-right: 20%;
    }
    .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        background-color: #d7ede3;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
}

.wrapper10 .image{
    background-color: #d7ede3;
    .serv{
        background-color: #2B3990;
        position: relative;
        top: 10%;
        width: 500px;
        height: 400px;
        margin-left: 25%;
    }
}

.wrapper10 .button{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}
.wrapper10 .button > a:hover {
    color:white;
    background: #2B3990;
    /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
    transition-delay: 0.25s;
}
.wrapper10 .button > a span{
    position:absolute;
    display: block;
}
.wrapper10 .button > a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B3990);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.wrapper10 .button > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B3990);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}


.wrapper10 .button > a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B3990);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}


.wrapper10 .button > a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B3990);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 767px) {

    .wrapper10{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 450px;
        .marge{
            display: none;
        }
        .image{
            display: none;
        }
    }

    .wrapper10 .para1{
        background-color: #ddd;
        h1{
            margin-top: 50px;
            text-align: left;
            color: #2B3990; 
            font-weight: bold;
            font-size: 30px;
            margin-left: 10%
        }
        hr{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid rgb(255, 251, 2);
            margin: 1em 0;
            padding: 0;
            margin-left: 10%;
            margin-right: 20%;
        }
        .qsn{
            text-align: left;
            color: #000000;
            font-size: 20px;
            margin-left: 10%;
            margin-right: 20%;
        }
        p{
            text-align: center;
            color: #ffffff;
            font-size: 20px;
            margin-right: 20%;
        }
        .button > a {
            position: relative;
            display: inline;
            text-align: center;
            padding: 15px 30px;
            color: #2B3990;
            background-color: #d7ede3;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
            font-size: 20px;
            overflow: hidden;
            transition: 0.2s;
        }
    }
}

/* wrapper 11*/

.wrapper11{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-rows: 500px;
}
.wrapper11 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 3%;
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid rgb(255, 251, 2);
        margin: 1em 0;
        padding: 0;
        margin-left: 20%;
        margin-right: 20%;
    }
    .app{
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-right: 20%;
    }
}

@media screen and (max-width: 767px) {
    /* wrapper 11*/

    .wrapper11{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-rows: 500px;
    }
    .wrapper11 .para1{
        h1{
            margin-top: 70px;
            text-align: center;
            color: #2B3990; 
            font-weight: bold;
            font-size: 30px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 3%;
        }
        .app{
            text-align: center;
            color: #000000;
            font-size: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        p{
            text-align: center;
            color: #000000;
            font-size: 15px;
            margin-right: 20%;
        }
    }
}

/* wrapper 12*/
.wrapper12{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 650px;
    background-color: #2B3990;
}
    
.wrapper12 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #ffffff; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
    hr{
        align: center; 
    }
    .mission{
        text-align: left;
        padding-top: 5%;
        color: #ffffff;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        padding-top: 5%;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
    }
}
    
.wrapper12 .para2 .target{
    position: relative;
    top: 15%;
    left: 25%;
}

@media screen and (max-width: 767px) {
    /* wrapper 12*/
    .wrapper12{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1100px;
        background-color: #2B3990;
    }
        
    .wrapper12 .para1{
        h1{
            margin-top: 70px;
            text-align: left;
            color: #ffffff; 
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            padding-bottom: 5%;
            margin-left: 15%;
            margin-right: 25%;
        }
        hr{
            align: center; 
        }
        .mission{
            text-align: left;
            padding-top: 5%;
            color: #ffffff;
            font-size: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 15px;
        }
    }
        
    .wrapper12 .para2 .target{
        position: relative;
        top: 35%;
        left: 10%;
        width: 220px;
        height: 200px;
    }
}

/* wrapper 13*/
.wrapper13{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    background-color: #ffffff;
}
    
.wrapper13 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #000000; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
    hr{
        align: center; 
    }
    .mission{
        text-align: left;
        padding-top: 5%;
        color: #000000;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        padding-top: 5%;
        text-align: center;
        color: #000000;
        font-size: 20px;
    }
}
    
.wrapper13 .para2 .target{
    position: relative;
    top: 15%;
    left: 40%;
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 767px) {
    /* wrapper 13*/
    .wrapper13{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 800px;
        background-color: #ffffff;
    }
        
    .wrapper13 .para1{
        h1{
            margin-top: 70px;
            text-align: left;
            color: #000000; 
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 5%;
            margin-left: 20%;
            margin-right: 20%;
        }
        hr{
            align: center; 
        }
        .mission{
            text-align: left;
            padding-top: 5%;
            color: #000000;
            font-size: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #000000;
            font-size: 15px;
        }
    }
        
    .wrapper13 .para2 .target{
        position: relative;
        top: 35%;
        left: 5%;
        width: 200px;
        height: 200px;
    }
}

/* wrapper 14*/
.wrapper14{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px;
    background-color: #2B3990;
}
    
.wrapper14 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #ffffff; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
    hr{
        align: center; 
    }
    .mission{
        text-align: left;
        padding-top: 5%;
        color: #ffffff;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        padding-top: 5%;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
    }
}
    
.wrapper14 .para2 .target{
    position: relative;
    top: 15%;
    left: 25%;
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 767px) {
    /* wrapper 14*/
    .wrapper14{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 900px;
        background-color: #2B3990;
    }
        
    .wrapper14 .para1{
        h1{
            margin-top: 70px;
            text-align: left;
            color: #ffffff; 
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 5%;
            margin-left: 20%;
            margin-right: 20%;
        }
        hr{
            align: center; 
        }
        .mission{
            text-align: left;
            padding-top: 5%;
            color: #ffffff;
            font-size: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 15px;
        }
    }
        
    .wrapper14 .para2 .target{
        position: relative;
        top: 35%;
        left: 5%;
        width: 250px;
        height: 250px;
    }
}

/* wrapper 15*/

.wrapper15{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 550px;
}
.wrapper15 .marge{
    background-color: #688a8b;
}
.wrapper15 .para1{
    background-color: #ddd;
    h1{
        margin-top: 50px;
        text-align: left;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
        margin-left: 20%
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid rgb(255, 251, 2);
        margin: 1em 0;
        padding: 0;
        margin-left: 20%;
        margin-right: 20%;
    }
    .qsn{
        text-align: left;
        color: #000000;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        margin-right: 20%;
    }
    .button > a {
        position: relative;
        display: inline;
        text-align: center;
        padding: 15px 30px;
        color: #2B3990;
        background-color: #d7ede3;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
}

.wrapper15 .image{
    background-color: #688a8b;
    .serv{
        background-color: #2B3990;
        position: relative;
        top: 5%;
        width: 500px;
        height: 450px;
        margin-left: 25%;
    }
}

.wrapper15 .button{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}
.wrapper15 .button > a:hover {
    color:white;
    background: #2B3990;
    /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
    transition-delay: 0.25s;
}
.wrapper15 .button > a span{
    position:absolute;
    display: block;
}
.wrapper15 .button > a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B3990);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.wrapper15 .button > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B3990);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}


.wrapper15 .button > a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B3990);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}


.wrapper15 .button > a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B3990);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 767px) {
    /* wrapper 15*/

    .wrapper15{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 500px;
        .marge{
            display: none;
        }
        .image{
            display: none;
        }
    }
    .wrapper15 .marge{
        background-color: #688a8b;
    }
    .wrapper15 .para1{
        background-color: #ddd;
        h1{
            margin-top: 50px;
            text-align: left;
            color: #2B3990; 
            font-weight: bold;
            font-size: 30px;
            margin-left: 10%
        }
        hr{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid rgb(255, 251, 2);
            margin: 1em 0;
            padding: 0;
            margin-left: 10%;
            margin-right: 10%;
        }
        .qsn{
            text-align: left;
            color: #000000;
            font-size: 20px;
            margin-left: 10%;
            margin-right: 20%;
        }
        p{
            text-align: center;
            color: #ffffff;
            font-size: 20px;
            margin-right: 20%;
        }
        .button > a {
            position: relative;
            display: inline;
            text-align: center;
            padding: 15px 30px;
            color: #2B3990;
            background-color: #d7ede3;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
            font-size: 20px;
            overflow: hidden;
            transition: 0.2s;
        }
    }

    .wrapper15 .image{
        background-color: #688a8b;
        .serv{
            background-color: #2B3990;
            position: relative;
            top: 10%;
            width: 400px;
            height: 400px;
            margin-left: 25%;
        }
    }

    .wrapper15 .button{
        margin: 0;
        padding:0;
        display: flex;
        justify-content: center;
    }
    .wrapper15 .button > a:hover {
        color:white;
        background: #2B3990;
        /*box-shadow: 0 0 4px rgb(28, 10, 77), 0 0 34px rgb(28, 10, 77), 0 0 74px rgb(28, 10, 77);*/
        transition-delay: 0.25s;
    }
    .wrapper15 .button > a span{
        position:absolute;
        display: block;
    }
    .wrapper15 .button > a span:nth-child(1){
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#2B3990);
        animation: animate1 1s linear infinite;
    }
    @keyframes animate1
    {
        0%{
            left: -100%;
        }
        50%, 100%{
            left: 100%;
        }
    }

    .wrapper15 .button > a span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#2B3990);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }
    @keyframes animate2
    {
        0%{
            top: -100%;
        }
        50%, 100%{
            top: 100%;
        }
    }


    .wrapper15 .button > a span:nth-child(3){
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#2B3990);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
    }
    @keyframes animate3
    {
        0%{
            right: -100%;
        }
        50%, 100%{
            right: 100%;
        }
    }


    .wrapper15 .button > a span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#2B3990);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    @keyframes animate4
    {
        0%{
            bottom: -100%;
        }
        50%, 100%{
            bottom: 100%;
        }
    }
}

/* wrapper 16*/

.wrapper16{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-rows: 200px;
    h1{
        margin-top: 50px;
        text-align: center;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
    }
}

@media screen and (max-width: 767px) {

    /* wrapper 16*/

    .wrapper16{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        grid-template-rows: 200px;
        h1{
            margin-top: 50px;
            text-align: center;
            color: #2B3990; 
            font-weight: bold;
            font-size: 30px;
        }
    }
}

/* wrapper 17*/

.wrapper17{
    margin-top: 4%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 25% 25% 35% 10%;
    grid-template-rows: 300px;
    .para1 ul{
        font-size: 20px;
        font-weight: bold;
        li{
            list-style: none;
            padding: 7px 0px;
            span{
                margin-left: 1em;
            }
        }
        li:before{
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url('../icon/Blue_Check_Mark.png');
            background-size: cover;
            background-position: center;
            left: 0;
            top: 50%;
        }
    }
    .para2 ul{
        margin-left: 25%;
        font-size: 20px;
        font-weight: bold;
        li{
            list-style: none;
            padding: 7px 0px;
            span{
                margin-left: 1em;
            }
        }
        li:before{
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url('../icon/Blue_Check_Mark.png');
            background-size: cover;
            background-position: center;
        }
    }
}

@media screen and (max-width: 767px) {
    /* wrapper 17*/

    .wrapper17{
        margin-top: 4%;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 350px;
        .margeleft{
            display: none;
        }
        .margeright{
            display: none;
        }
        .para1 ul{
            margin-left: 25%;
            font-size: 15px;
            font-weight: bold;
            li{
                list-style: none;
                padding: 7px 0px;
                span{
                    margin-left: 1em;
                }
            }
            li:before{
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background-image: url('../icon/Blue_Check_Mark.png');
                background-size: cover;
                background-position: center;
                left: 0;
                top: 50%;
            }
        }
        .para2 ul{
            margin-left: 20%;
            font-size: 15px;
            font-weight: bold;
            li{
                list-style: none;
                padding: 7px 0px;
                span{
                    margin-left: 1em;
                }
            }
            li:before{
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background-image: url('../icon/Blue_Check_Mark.png');
                background-size: cover;
                background-position: center;
            }
        }
    }
}

/* wrapper 18*/
.wrapper18{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 625px;
    background-color: #2B3990;
}
    
.wrapper18 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #ffffff; 
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
    hr{
        align: center; 
    }
    .mission{
        text-align: left;
        padding-top: 5%;
        color: #ffffff;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        padding-top: 5%;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
    }
}
    
.wrapper18 .para2 .target{
    position: relative;
    top: 5%;
    left: 25%;
    width: 500px;
    height: 550px;
}

@media screen and (max-width: 767px) {
    /* wrapper 18*/
    .wrapper18{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 900px;
        background-color: #2B3990;
    }
        
    .wrapper18 .para1{
        h1{
            margin-top: 70px;
            text-align: left;
            color: #ffffff; 
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 5%;
            margin-left: 20%;
            margin-right: 20%;
        }
        hr{
            align: center; 
        }
        .mission{
            text-align: left;
            padding-top: 5%;
            color: #ffffff;
            font-size: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        p{
            padding-top: 5%;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
        }
    }
    .wrapper18 .para2 .target{
        position: relative;
        top: 25%;
        left: 5%;
        width: 230px;
        height: 250px;
    }
}

/* wrapper 19*/

.wrapper19{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-rows: 350px;
}
.wrapper19 .para1{
    h1{
        margin-top: 70px;
        text-align: center;
        color: #2B3990; 
        font-weight: bold;
        font-size: 50px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 3%;
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid rgb(255, 251, 2);
        margin: 1em 0;
        padding: 0;
        margin-left: 20%;
        margin-right: 20%;
    }
    .app{
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    p{
        text-align: center;
        color: #000000;
        font-size: 20px;
        margin-right: 20%;
    }
}

@media screen and (max-width: 767px) {
    /* wrapper 19*/

    .wrapper19{
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-rows: 550px;
    }
    .wrapper19 .para1{
        h1{
            margin-top: 70px;
            text-align: center;
            color: #2B3990; 
            font-weight: bold;
            font-size: 30px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 3%;
        }
        .app{
            text-align: center;
            color: #000000;
            font-size: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        p{
            text-align: center;
            color: #000000;
            font-size: 15px;
            margin-right: 20%;
        }
    }
}

/* wrapper 20*/

.wrapper20{
    margin-top: 4%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 25% 25% 35% 10%;
    grid-template-rows: 350px;
    .para1 ul{
        font-size: 20px;
        font-weight: bold;
        li{
            list-style: none;
            padding: 7px 0px;
            span{
                margin-left: 1em;
            }
        }
        li:before{
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url('../icon/Blue_Check_Mark.png');
            background-size: cover;
            background-position: center;
            left: 0;
            top: 50%;
        }
    }
    .para2 ul{
        margin-left: 25%;
        font-size: 20px;
        font-weight: bold;
        li{
            list-style: none;
            padding: 7px 0px;
            span{
                margin-left: 1em;
            }
        }
        li:before{
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url('../icon/Blue_Check_Mark.png');
            background-size: cover;
            background-position: center;
        }
    }
}

@media screen and (max-width: 767px) {
    /* wrapper 20*/

    .wrapper20{
        margin-top: 4%;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 550px;
        .margeleft{
            display: none;
        }
        .margeright{
            display: none;
        }
        .para1 ul{
            margin-left: 25%;
            font-size: 15px;
            font-weight: bold;
            li{
                list-style: none;
                padding: 7px 0px;
                span{
                    margin-left: 1em;
                }
            }
            li:before{
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background-image: url('../icon/Blue_Check_Mark.png');
                background-size: cover;
                background-position: center;
                left: 0;
                top: 50%;
            }
        }
        .para2 ul{
            margin-left: 20%;
            font-size: 15px;
            font-weight: bold;
            li{
                list-style: none;
                padding: 7px 0px;
                span{
                    margin-left: 1em;
                }
            }
            li:before{
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background-image: url('../icon/Blue_Check_Mark.png');
                background-size: cover;
                background-position: center;
            }
        }
    }
}